.topo{
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 21px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topo p:first-child{
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.pedidos{
    padding-left: 19px;
}
.principal{
    margin-top: 123px;
    height: 242px;
    background-color: blue;
}
.bebida{
    margin-top: 27px;
    height: 242px;
    background-color: blueviolet;
}
.sobremesa{
    margin-top: 27px;
    margin-bottom: 108px;
    height: 242px;
    background-color: green;
}
.final{
    height: 92px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
}
